@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
	background-color: #fff;
	border-radius: 15px;
	width: 960px;
	height: 60%;
	justify-content: space-between;	
	align-items: center;
	position: relative;
}

.content::before {
	content: "";
	position: absolute;
	background-color: #4682B4;
	width: 	40%; /*** Largura **/
	height: 100%; /*** Altura **/
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;


	left: 0%;
}

.title {
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}

.title-primary {
	color: #fff;
}

.title-second {
	color: #4682B4;
}

.description {
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
}
.description-primary {
	color: #fff;
}

.description-second {
	color: #4682B4;
}

.btn {
	border-radius: 15px;
	text-trasform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	width: 150px;
	align-self: center;
	border-width: none;
	margin-top: 1rem;
}

.btn-primary {
	background-color: transparent;
	border: 1px solid #fff;
	transition: background-color .5s;
}

.btn-primary:hover {
	background-color: #fff;
	color: #4682B4;
}

.btn-second {
	background-color: #4682B4;
	border: 1px solid #4682B4;
	transition: background-color .5s;
}

.btn-second:hover {
	background-color: #fff;
	border: 1px solid #4682B4;
	color: #4682B4;
}

.first-content {
	display: flex;
}

.first-content .second-column {
	z-index: 12;
}

.first-column {
	text-align: center;
	width: 40%;
	z-index: 10;
}

.second-column {
	width: 60%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
	margin: 1rem 0;
}

.link-social-media .item-social-media {
    transition: background-color 1s;
}

.list-social-media {
	display: flex;
	list-style-type: none;
}

.item-social-media {
	border: 1px solid #4682B4;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #4682B4;
}

.link-social-media-n1{
    margin-left: 0px;
}
.link-social-media-n{
	margin-left: 10px;
}

.link-social-media:hover .item-social-media{
	background-color: #4682B4;
	color: #fff;
	border-color: #4682B4;
}

/*
.social_image {
	border: 1px solid #4682B4;
	border-radius: 50%;
	width: 40px;
	height: 40px;

	width: 30px;
	line-height: 40px;
}
class não ultilizada*/

.form{
	display: flex;
	flex-direction: column;
	width: 55%;
	text-align: center;
}

.form input {
	height: 45px;
	width: 100%;
	border: none;
	background-color: #ecf0f1;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	margin: 8px;
}

.icon-modify {
	color: #4682B4;
	padding: 0 5px;
}

/* SEGUNDO CONTEUDO*/

.second-content {
	position: absolute;
	display: flex;
}

.second-content .first-column {
	order: 2;
	z-index: -1;
}

.second-content .second-column {
	order: 1;
	z-index: -1;
}

.password {
	color: #FFFF00;
	font-size: 14px;
	margin: 15px 0;
}

.password::first-letter {
	text-transform: capitalize;
}
/* CLASSES JAVASCRIPT ACESSAR A CONTA*/

.login-acessar-js .first-content .first-column,
.login-acessar-js .first-content .second-column {
	z-index: -1;
}

.login-acessar-js .second-content .first-column,
.login-acessar-js .second-content .second-column {
	z-index: 11;
}

.login-acessar-js .content::before {
	left: 60%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* CLASSES JAVASCRIPT CRIAR CONTA*/

.login-criar-js .second-content .first-column,
.login-criar-js .second-content .second-column {
	z-index: -1;
}

.login-criar-js .first-content .first-column,
.login-criar-js .first-content .second-column {
	z-index: 11;
